.project_container {
  text-align: left;
  /* padding-left: 2em; */
  /* padding: 0em 2em; */
  /* margin: 0px 20px; */
  /* box-shadow: rgb(34 34 34 / 18%) -4px 8px 20px 0px; */
  cursor: pointer;
}
.project_container:hover {
}
.project_container:hover .img_wrap {
  /* background: rgb(34 34 34 / 18%); */
  /* margin-top: -50px; */
  transform: translateY(0px);
  opacity: 1;
}
.project_container:hover .project_text{
  opacity: 0.2;
}
.project_container:hover .title{
  color: var(--blue);
}
.project_container[data-scroll="in"]{
  opacity: 1.0;
  transform: scale(1);
  transition-duration: .5s;
}
.project_container[data-scroll="out"]{
  opacity: 0;
  transform: scale(0);
}

img, .img_wrap {
  position: relative;
  z-index: -1;
  width: 320px;
  height: 244px;
  margin-top: 20px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  object-fit: contain;
  box-shadow: rgb(0 0 0 / 22%) 0px 8px 20px 0px;
  box-shadow: var(--blue-80) 0px 8px 20px 0px;
  transform: translateY(20px);
  transition: opacity 0.2s linear 0s, transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
img::after, .img_wrap::after {
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0.7) 100%);
}

@keyframes opacity {
  from { opacity: 0.5 }
  to { opacity: 1.0 }
}

.project_text {
  /* height: 112px; */
  margin-top: -125px;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  z-index: 1;
  /* width: 40%; */
  background: rgba(255, 255, 255, 0.9);
  /* box-shadow: rgb(34 34 34 / 18%) -4px 8px 20px 0px; */
  box-shadow: rgb(34 34 34 / 18%) -4px 8px 20px 0px;
  box-shadow: var(--blue-80) 0px 8px 20px 0px;
  padding: 20px 0px 20px 20px;
  transition: opacity 0.2s linear 0s, transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2em;
}
.desc {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
}
.tags {
  font-size: 20px;
  line-height: 1.2em;
}
.tags:hover {
  color: var(--blue);
}


@media screen and (max-width: 575px) {
  .title {
    font-size: 32px;
  }
  .desc {
    font-size: 20px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }
  .tags {
    font-size: 18px;
  }


  img, .img_wrap {
    position: relative;
    z-index: -1;
    width: 280px;
    height: 260px;
    margin: 0px 20px 0px;
  }
}
