h4 {
  color: var(--blue);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 64px;
  font-weight: bold;
}
.about_me_header {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transform: translateX(200px);
  opacity: 0.0;
}

.about_me_header[data-scroll="in"] {
  transform: translateX(0px);
  transform: translateY(0px);
  opacity: 1.0;
}

@media screen and (max-width: 1024px) {
  .about_me_header {
    transform: translateX(0px);
    transform: translateY(100px);
  }
}

@media screen and (max-width: 575px) {
  .about_me_header {
    transform: translateX(0px);
    transform: translateY(100px);
    font-size: 48px;
  }
}
